.supercage {
  max-width: 720px;
}

.container {
  display: block;
  background-color: #f5ebeb;
  border: solid #070f4e;
  padding: 10px;

  margin: 20px;
  border-radius: 10px;
  font-family: "Barlow", sans-serif;
}

.btn {
  border-radius: 10px;
  border-color: #f5ebeb;
  background-color: #2772db;
  color: #f5ebeb;
  padding: 0px 10px;
  margin: 1px;
}

.btn:hover {
  background-color: #070f4e;
  color: #3ab1cb;
  transition: all 100ms ease-in-out;
}

h1 {
  color: #070f4e;
  margin: 10px 5px;
}

h2 {
  position: relative;
  left: 85px;
  bottom: 117px;
  color: #2772db;
  font-size: 44px;
  font-weight: thin;
  padding: 5px;
  margin: 0px;
}

h6 {
  position: relative;
  left: 140px;
  bottom: 165px;
  margin: 0px;
}

h3 {
  color: #3ab1cb;
  margin: 5px;
}

.description {
  color: #070f4e;
  font-size: 24px;
  margin: 0 15px;
}

.date {
  color: #070f4e;
  font-size: 24px;
  margin: 0 15px;
}

.dateTime {
  color: #070f4e;
  font-size: 24px;
  margin: 0 15px;
}

.row {
  color: #2772db;
  margin: 0 5px;
  border: 0 auto;
  padding: 0 auto;
}

hr {
  color: #070f4e;
}

.main-icon {
  position: relative;
  right: 10px;
  bottom: 25px;
  color: #f8da5b;
  font-size: 48px;
  margin: 10px;
  padding: 0px;
}

ul {
  position: relative;
  left: 100px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}
